<form class="form-horizontal" role="form" ng-submit="submit()">

	<div ng-repeat="error in errors" class="alert alert-danger">{{error}}</div>

	<div class="form-group">
		<label for="subject" class="col-md-2 control-label">Subject</label>
		<div class="col-md-10">
			<input type="text" class="form-control" id="subject" placeholder="Subject" ng-model="issue.subject">
		</div>
	</div>
	
	<div class="form-group">
		<label for="description" class="col-md-2 control-label">Description</label>
		<div class="col-md-10">
			<textarea class="form-control" rows="3" id="description" ng-model="issue.description" placeholder="Description"></textarea>
		</div>
	</div>
	
	<div class="form-group">
		<label for="project" class="col-lg-2 control-label">Project</label>
		<div class="col-lg-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="project">
					{{issue.project.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="project in projects"><a class="link" ng-click="setProject(project)">{{project.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="tracker" class="col-lg-2 control-label">Tracker</label>
		<div class="col-lg-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="tracker">
					{{issue.tracker.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="tracker in trackers"><a class="link" ng-click="setTracker(tracker)">{{tracker.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="status" class="col-lg-2 control-label">Status</label>
		<div class="col-lg-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="status">
					{{issue.status.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="status in statuses"><a class="link" ng-click="setStatus(status)">{{status.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>

    <div class="form-group">
        <label for="priority" class="col-lg-2 control-label">Priority</label>
        <div class="col-lg-10">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="priority">
                    {{issue.priority.name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="priority in priorities"><a class="link" ng-click="setPriority(priority)">{{priority.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
	
	<div class="form-group">
		<label for="assignedto" class="col-lg-2 control-label">Assigned To</label>
		<div class="col-lg-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="assignedto">
					{{issue.assigned_to | userName}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="user in users"><a class="link" ng-click="setAssignedTo(user)">{{user | userName}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="targetversion" class="col-lg-2 control-label">Target Version</label>
		<div class="col-lg-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="targetversion">
					{{issue.fixed_version.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a class="link" ng-click="setVersion({})">&nbsp;</a></li>
					<li ng-repeat="version in versions"><a class="link" ng-click="setVersion(version)">{{version.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="category" class="col-lg-2 control-label">Category</label>
		<div class="col-lg-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="category">
					{{issue.category.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a class="link" ng-click="setCategory({})">&nbsp;</a></li>
					<li ng-repeat="category in categories"><a class="link" ng-click="setCategory(category)">{{category.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary" ng-disabled="submitting"><span ng-show="issue.id">Update</span><span ng-hide="issue.id">Create</span></button>
		</div>
	</div>
</form>

<!--
priority_id
category_id
parent_issue_id - ID of the parent issue -->